<div class="container">
        <div class="jumbotron jumbotron-fluid">

                <p class="text-center">Servicii De Tractari, Remorcari Si Transport Pe Platforma Auto Braila</p>
              <p class="text-danger text-center"> Serviciile noastre de tractari auto va stau la dispozitie 24 de ore din 24!
</p> 
              <p>Suntem o firma cu vechime in domeniul tractarilor auto, remorcari auto, platforma auto si
                transportului de utilaje cu competenta si profesionalism in desfasurarea activitatilor de tractari si
                transport pe platforma auto.Avem o gama divesificata de autospeciale de tractari auto si transport pe
                platforma auto de diferite tonaje.



                Transportam pe platforma auto autoturisme, autoutilitare, autovehicule de marfa, defecte sau avariate cu
                auto specializata in Braila , tara si strainatate.Transportul pe platforma auto a autoturismelor
                la atelierul auto dorit de dvs sau cu cele cu care avem contrcte.Dispunem de 2 autospeciale
                simultan.Dispunem de rapiditate in transport pe platforma auto ,putand transporta 2 autovehicule
                simultan cu platforma auto separata.Suntem specialisti in tractari ,remorcari si va oferim o gama
                complecta de servicii de transport pe platforma auto.Colaboram cu firme de asigurari.Colaboram cu toate
                reprezentantele de autoturisme din Braila Incarcarea si descarcarea autovehiculului de pe
                platforma auto avariat in conditii de siguranta.Identificarea unui service auto specializat agreat de
                dumneavoastra in vederea programarii pentru reparatii.Autoturismele transportate pe platforma auto sunt
                asigurate prin polita CMR.
        </p>  
        </div>

</div>