<div class="container">
    <div class="jumbotron jumbotron-fluid ">
        <form>
            <div class="form-group">
                <div class="form-row">
                    <h3><span class="glyphicon glyphicon-earphone "> </span></h3>
                    <h3> <span class="text-center text-danger font-weight-bold">0730082875 </span></h3>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <h3><span class="glyphicon glyphicon-earphone "> </span></h3>
                    <h3> <span class="text-center text-success font-weight-bold">0766649766 </span></h3>
                </div>
            </div>
            <div class="form-group">
                    <div class="form-row">
                        <h3><span class="glyphicon glyphicon-envelope "> </span></h3>
                        <h3> <span class="text-center text-default font-weight-bold">
                            tractari-transport-braila@gmail.com </span></h3>
                    </div>
                </div>
        </form>
    </div>
</div>